
:root {
--maroon: #800000;
--maroon-light: #A04040;
--bg-light: #D09691;
--box-bg: #3A2C2C;
}


/* Page Container */  
.guitar-container {
max-width: 1500px;
margin: 0 auto;
padding: 40px 20px;
background-color:#D09691;
min-height: 100vh;
text-align: center;
font-family: 'Georgia', serif;
}


/* Title */
.guitar-title {
font-size: 3rem;
font-weight: bold;
color: #2B1B1B;
}


.guitar-subtitle {
font-size: 1.2rem;
margin-top: 10px;
color: #5E4A4A;
margin-bottom: 40px;
}


/* Roadmap Layout */
.guitar-roadmap {
margin-top: 20px;
}
